:root {
  --primary-color: white;
  --secondary-color: gray;
  --primary-dark: black;
  
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  
}

body {
height: 100vh;
width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

main {
padding: 10px;
width: 55%;
min-width: 900px;
height: 75vh;
min-height: 600px;
background-color: #141414;
border-radius: 30px;
border: 15px solid black;
position: relative;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-template-areas: 'top-left top-left top-mid1 top-mid2 top-right'
            'top-left top-left top-mid1 top-mid2 right-mid1'
            'left-mid1 left-mid2 center-mid center-mid right-mid1'
            'left-mid1 left-mid2 center-mid center-mid right-mid2'
            'left-bottom left-bottom left-bottom right-bottom right-bottom'
            'left-bottom left-bottom left-bottom right-bottom right-bottom' ;

gap: 15px;    

}

h1 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
}
h5 {
  font-size: .75rem;
  color: var(--primary-color);
}
h2 {
  font-size: .9rem;
  font-weight: 500;
  color: var(--primary-color);
}
p {
  font-size: .65rem;
  color: var(--secondary-color);
}

.bento-card {
 background-color: #141414;    
  border: 1px solid #27272a;     
  border-radius: 24px;
  box-shadow: 0 0 1px 3px #0b0b0b;
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-card {
  color: var(--secondary-color);
 background-color: #141414;    
  border: 1px solid #27272a;
  width: 35px;     
  height: 35px;
  border-radius: 10px;
  box-shadow: 0 0 1px 3px #0b0b0b;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  line-height: 1.9;
  font-size: 1.1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.no-padding {
  padding: 0;
}
  


.tech-icons {
 background-color: #141414;    
  border: 1px solid #27272a;
  width: 30px;     
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 1px 3px #0b0b0b;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.h-line1 {
  position: absolute;
  width: 40px;
  height: 4px;
  top: -3.2%;
  left: 5%;
  border-radius: 5px;
 background-color: rgba(35, 34, 34, 0.467);

}
.h-line2 {
  position: absolute;
  top: -3.2%;
  left: 12%;
  border-radius: 5px;
  width: 40px;
  height: 4px;
background-color: rgba(35, 34, 34, 0.467);

  
}
.v-line {
  left: -2.2%;
  top: 8%;
  border-radius: 5px;
  position: absolute;
  height: 40px;
  width: 4px;
  background-color: rgba(35, 34, 34, 0.467);
}

.top-left {
  grid-area: top-left;
 
}

.top-mid1 {
 grid-area: top-mid1;
}

.top-mid2 {
  grid-area: top-mid2;
}
.top-right {
  grid-area: top-right;
}
.left-mid1 {
  grid-area: left-mid1;

}
.left-mid2 {
  grid-area: left-mid2;
}
.center-mid {
  grid-area: center-mid;
}

.right-mid1 {
  grid-area: right-mid1;
}

.right-mid2 {
  grid-area: right-mid2;
}
.left-bottom {
  grid-area: left-bottom;
}
.right-bottom {
  grid-area: right-bottom;
}

.thumb {
  transition: all ease 1s;
}
.thumb:active {
  background-color: black;
  transform: translate(-99%);
}
.thumb:active i {
  color: white;
}
